h1 {
    padding: 5px;
    font-size: 3em; /* Adjust the font size as needed */
    color: blue;
  }
  
    .welcome {
        padding:30px;
        font-size: larger;
        font-weight: bold;
    }
    
    .profile-page {
    background-color: whitesmoke;
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .holidays-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .holiday-card, .form-card {
    background-color: #e0dcdc;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .holiday-card h3, .form-card h3 {
    margin-top: 0;
  }
  
  .holiday-card p, .form-card p {
    margin: 5px 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  
  form > div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  label {
    font-weight: bold;
  }
  
  input[type="text"], input[type="date"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
  }
  
  button {
    padding: 10px 20px;
    background-color: #1249b7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #3b3f46;
  }
  
  button[type="button"] {
    background-color: #f44336;
  }
  
  button[type="button"]:hover {
    background-color: #d32f2f;
  }
  
  .createHoli {
    padding: 20px;
    background-color: rgb(165, 16, 16);
    font-size: larger;
    font-family: cursive;
    font-weight: bolder;
  }