body {
  background-image: url("./assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  box-sizing: border-box;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  background-image: url("./assets/logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 200px;
  height: 200px;
}

nav {
  display: flex;
  align-items: center;
}

nav button {
  background-color: #1249b7;
  color: white;
  border: none;
  padding: 15px 30px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
}

nav button:hover {
  background-color: #3b3f46;
}

main {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  background-color: transparent;
}
